*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
li{
    list-style: none;
}


.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

@import"_header.scss";
@import"_body.scss";
@import"_advice.scss";
@import"_video.scss";
@import"_with.scss";
@import"_get.scss";
@import"_footer.scss";
@import"_end.scss";